

.navbar {
  background-image: url(/Assets/Images/Cab_rod.png);
  background-size: cover;
 
}

.logo {
  max-width: 40px;
}
.menuLateral div ul li {
  padding: 50px;
  color: black;
  background: white;
}
.offcanvas-header {
  background: url(/Assets/Images/Cab_rod.png);
}
.menuOffcanvas {
  color: #dadada;
}
.buttonOffCanvas{background: url(/Assets/Images/703781-200.png);
border: 0px;
width:50px;
height: 50px;}
.offcanvas-body {
  padding: 0%;
}
.link a {
  padding-bottom: 20px;
  color: black;
  font-size: large;
  text-decoration: none;
}
.img_perfil{margin-left: 65%;}
.texto_menu{color: #dadada;}
.img_perfilOff {
  width: 90px;
  margin-right: 20px;
}
.perfilCabOff {
  justify-content: end;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px #dadada solid;
}
.perfilCabOff a {
  font-size: large;
  font-weight: 900;
}
.link {
    color: black;
  width: 100%;
  height: 20px;
  padding: 30px;
}


@media screen and (min-width: 992px) {
    .buttonOffCanvas,
    .corpo {
    display: none;
  }
}
